<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href='{% url "home" %}'>Cantina PIBVP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href='{% url "home" %}'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{% url "pedido_list" %}'>Pedidos</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" aria-disabled="true">Promoções</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Configurações
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href='{% url "categoria_list" %}'>Categorias</a></li>
              <li><a class="dropdown-item" href='{% url "produto_list" %}'>Produtos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{% url "admin:index" %}' tabindex="-1" >Admin</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  {% block content %}

  <div class="card">
    <!-- <h5 class="card-header"></h5> -->
    <div class="card-body">
      <h5 class="card-title">Produtos</h5>
      <p class="card-text">Venha conferir o nossos produtos da cantina de hoje!</p>
      <a href='{% url "cardapio_list" %}' class="btn btn-primary">Cardápio</a>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header"> </h5>
    <div class="card-body">
      <h5 class="card-title">Acompanhe os pedidos aqui</h5>
      <!-- <p class="card-text">Venha conferir o nossos produtos da cantina de hoje!</p> -->
      <a href='{% url "listar_pedidos" %}' class="btn btn-primary">Pedidos em andamento</a>
    </div>
  </div>


  
  {% endblock %}
</div>
</body>
</html>